repo/workflows/4P75zLRFqQuYYx0S.json
{
  "createdAt": "2025-05-29T12:47:25.479Z",
  "updatedAt": "2025-05-31T16:34:34.563Z",
  "id": "4P75zLRFqQuYYx0S",
  "name": "Check_payment_status",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "529223f2-3012-43d7-9e57-6d3f082d88ea",
      "name": "Check API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -920,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "cd1df1cf-523b-4a6c-a2e8-82a1d9dbef4f",
      "name": "Get Payment Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1140,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "PszcqGCbFxeXYXla",
          "name": "Razorpay credentials"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get payment_link_id from input data or set a default for testing\nconst paymentLinkId = $input.first().json.plink ;\n\nif (!paymentLinkId) {\n  throw new Error('payment_link_id is required');\n}\n\n// Validate payment link ID format (should start with 'plink_')\nif (!paymentLinkId.startsWith('plink_')) {\n  throw new Error('Invalid payment_link_id format. Should start with \"plink_\"');\n}\n\nreturn {\n  payment_link_id: paymentLinkId,\n  api_url: `https://api.razorpay.com/v1/payment_links/${paymentLinkId}`\n};"
      },
      "id": "c3a05640-7ed5-4075-8bcb-129e8e29f6df",
      "name": "Prepare Payment ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        80
      ]
    },
    {
      "parameters": {},
      "id": "4aea9de4-4c89-4a19-9a6f-87a4d3fd5df2",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1620,
        240
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "plink"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1640,
        40
      ],
      "id": "d89245ea-a2eb-4fb8-994a-6e29aa4fabc4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\": \"success\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        -20
      ],
      "id": "aa998b9b-f760-4569-8f8c-d440afc7bedc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\":\"failed\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        180
      ],
      "id": "05aae10a-0f79-4014-9ad2-6471264dcd5d",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Check API Success": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment Status": {
      "main": [
        [
          {
            "node": "Check API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payment ID": {
      "main": [
        [
          {
            "node": "Get Payment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Prepare Payment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Payment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "payment_link_id": "plink_123456"
        }
      }
    ]
  },
  "versionId": "5145d823-c3d0-49f8-bde0-30a6d86b92fa",
  "triggerCount": 0,
  "tags": []
}