repo/workflows/Jm4jj4J39lBdwyhv.json
{
  "createdAt": "2025-05-29T13:18:21.123Z",
  "updatedAt": "2025-05-30T06:07:53.694Z",
  "id": "Jm4jj4J39lBdwyhv",
  "name": "Create_Payment_Link",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1e83fb9f-5e60-4e5d-8e16-1a14759839db",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.razorpay.com/v1/payment_links",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"upi_link\": \"true\",\n  \"amount\": {{ $json.value}},\n  \"currency\": \"INR\",\n  \"accept_partial\": false,\n  \"notify\": {\n    \"sms\": true,\n    \"email\": true\n  }\n}",
        "options": {}
      },
      "id": "04f93d6f-de26-48b3-a275-5f151d3dc844",
      "name": "Create Payment Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -580,
        20
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "PszcqGCbFxeXYXla",
          "name": "Razorpay credentials"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract payment link details for successful response\nconst paymentData = $input.first().json;\n\nreturn {\n  success: true,\n  short_url: paymentData.short_url,\n  message: 'Payment link created successfully'\n};"
      },
      "id": "16af3db6-6fc8-48d8-8ec6-e19f01a3f3a5",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format error response\nconst errorData = $input.first().json;\n\nreturn {\n  success: false,\n  error_code: errorData.error?.code || 'UNKNOWN_ERROR',\n  error_description: errorData.error?.description || 'An error occurred while creating payment link',\n  error_field: errorData.error?.field || null,\n  error_reason: errorData.error?.reason || null,\n  message: 'Failed to create payment link'\n};"
      },
      "id": "c1b3ed63-5e7b-48af-8add-770f183e5fee",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        180
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "value",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        160
      ],
      "id": "9a157c71-2d39-494a-9655-9ec150a15bd9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"status\":\"success\",\n\"url\": \"{{ $json.short_url }}\",\n\"plink\":\"{{ $json.id }}\"}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        -140
      ],
      "id": "28f636c8-219b-4389-8837-40fe0cc58b49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\":\"failed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        100
      ],
      "id": "7f65368d-3e84-42e2-a42b-e1da200ce73f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1f2a3b4c-5d6e-7f8a-9b0c-1d2e3f4a5b6c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "fbd05efa-5070-48a6-afbe-f8514b12894d",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        -40
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Create Payment Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payment Link": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Payment Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "value": 100
        }
      }
    ]
  },
  "versionId": "d650e729-6ae4-4ee8-b842-0270372cd268",
  "triggerCount": 0,
  "tags": []
}