repo/workflows/M0SkIJsQzuCrQsYK.json
{
  "createdAt": "2025-05-07T07:08:48.118Z",
  "updatedAt": "2025-05-13T13:16:33.177Z",
  "id": "M0SkIJsQzuCrQsYK",
  "name": "Doctor selection",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15dOz4nD1iDO26zU5ZYnP_9PqBSBUqEzDTcsI_YQnTX4",
          "mode": "list",
          "cachedResultName": "Appointment Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15dOz4nD1iDO26zU5ZYnP_9PqBSBUqEzDTcsI_YQnTX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 879069358,
          "mode": "list",
          "cachedResultName": "doctor_available",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15dOz4nD1iDO26zU5ZYnP_9PqBSBUqEzDTcsI_YQnTX4/edit#gid=879069358"
        },
        "options": {}
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        780,
        2340
      ],
      "id": "3a638e2b-8d3a-4eac-b72c-ca3218fa1053",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1mJzLfz9loDmBOy",
          "name": "OAuth Account kshitiz305280@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "spreadsheet_id",
              "value": "15dOz4nD1iDO26zU5ZYnP_9PqBSBUqEzDTcsI_YQnTX4"
            },
            {
              "name": "sheet_range",
              "value": "Sheet1!A1:E100"
            },
            {
              "name": "type",
              "value": "Pediatrition"
            },
            {
              "name": "timezone",
              "value": "America/New_York"
            }
          ]
        },
        "options": {}
      },
      "name": "Workflow Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        560,
        2440
      ],
      "id": "137930d6-f89f-4aeb-a2bd-ab5bdfee296f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b382b1bd-d641-45f9-bde3-a7b10000e49f",
              "leftValue": "={{ $json.Type }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.query }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1000,
        2340
      ],
      "id": "33efeae2-63a0-4ffb-901e-06b700b0c52d",
      "name": "Filter1"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.doctor_email }}",
          "mode": "id"
        },
        "timeMin": "={{ $('When Executed by Another Workflow').item.json.time.toDateTime().toString()}}",
        "timeMax": "={{ $('When Executed by Another Workflow').item.json.time.toDateTime().plus(30,'min').toString()}}",
        "options": {
          "outputFormat": "availability",
          "timezone": {
            "__rl": true,
            "value": "Asia/Calcutta",
            "mode": "list",
            "cachedResultName": "Asia/Calcutta"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1220,
        2415
      ],
      "id": "6c121c67-f166-42d2-8c68-8bd9509f6442",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uD8AIc77E2dJeCtx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1440,
        2340
      ],
      "id": "e7ba421f-856e-4c92-8364-152827837f5f",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d7b0fa56-367c-4394-924e-fe377c574172",
              "leftValue": "={{ $json.available }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1880,
        2240
      ],
      "id": "7b147209-9fed-49d7-82f5-5182bffcc0e5",
      "name": "Filter"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "time"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        560,
        2240
      ],
      "id": "ea35b5fa-986e-4b75-a7aa-4480cfd7381a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "['Doctor Name'], Type, ['Call Link'], doctor_email, available",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        2240
      ],
      "id": "7ade1299-7711-4888-845e-62686351ea31",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "068b7a1a-1349-4162-b3ef-061b4332e832",
              "leftValue": "={{ $json.available }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        2340
      ],
      "id": "cfa721d7-9aec-47e7-961d-a647b9936ea2",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15c99c3d-b011-46c6-a3dd-8c62cb6d486b",
              "name": "Type",
              "value": "={{ $json.Type }} is not Available",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        2440
      ],
      "id": "d5ac9845-df2f-4562-b3dc-16caddba84ef",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "General Physician",
          "time": "2025-05-14T16:00:00.000"
        }
      }
    ]
  },
  "versionId": "6e387604-edfd-459c-8ebb-4708be9de6bc",
  "triggerCount": 0,
  "tags": []
}